@model IEnumerable<MvcClient.Models.ViewVehicleModel>

@{
    ViewBag.Title = "View Vehicles";
}

<h2>View Vehicles</h2>

<p>
    @Html.ActionLink("Create New", "CreateVehicle")
</p>
<p>
    @using (Html.BeginForm("ViewVehicles", "Home", FormMethod.Get))
    {
    <b> Search Registration Number</b> <br />
    @Html.TextBox("search")<input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistranionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstTimeInTrafic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsServiceBooked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearlyFee)
        </th>
        <th></th>
    </tr>
@if (Model.Count() == 0)
{
    <tr>
        <td>
            colspan="8"> No vehicle match
        </td>
        </tr>}
else
{

foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistranionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstTimeInTrafic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsServiceBooked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearlyFee)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditVehicle", new { regNum=item.RegistranionNumber }) |
            @Html.ActionLink("Details", "VehicleDetails", new {  regNum=item.RegistranionNumber  }) |
            @Html.ActionLink("Delete", "DeleteVehicle", new { regNum = item.RegistranionNumber })
        </td>
    </tr>
}
}

</table>
